
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

results/
discounted_prices.csv
fullUrls.txt
validIds.txt
filteredUrls.txt
failedUrls.txt
testUrls.txt
.env

.DS_Store